@using Entities.DTOs
@model CategoryWithProductDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        @*<th>Mail</th>
        <th>Bölüm</th>
        <th>Telefon</th>
        <th>Sil</th>
        <th>Güncelle</th>*@


    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            
            <td>@item.ProductName</td>
            <td>@item.UnitPrice</td>
            @*<td>@item.Mail</td>
            <td>@item.Department</td>
            <td>@item.Telephones</td>
            <td><button onclick="return confirm('@item.FirstName @item.LastName isimli kullanıcıyı silmek istediğinize emin misiniz? ')"><a href="/User/DeleteUser/@item.UserId" class="btn btn-danger">Sil</a></button></td>
            <td><a href="/User/EditUser/@item.UserId" class="btn btn-warning">Güncelle</a></td>*@
        </tr>
    }
</table>

